
.header {
	text-align:center;

	h1 {

		border-radius: 100px;
		font-size:4em;
		font-weight:500;
		width:75%;
		margin:0 auto;
		margin-top:0.5em;
		padding: 0.5em 0;
		background: rgb(179,220,237); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(41,184,229,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

	}
}

.slot-machine-wrapper {
	margin-top: 3em;
	text-align: center;

	.slot-box {
		display:inline-block;
		margin: 0 auto;
		width:8em;
	}

	.ratio-box {
		display:inline-block;
		font-size: 1.5em;
	}

	.play-button-wrapper {
		display:block;
		margin:0 auto;
		margin:2em 0;
	}

	#play-button {
		font-size:2em;
	}

	.dialouge-box {
		margin-bottom: 1em;
		font-size: 1.5em;
	}

	.wins {
		display:inline-block;
		font-size: 1.5em;
		margin-right:1em;
	}

	.losses {
		display:inline-block;
		font-size: 1.5em;
		margin-right:1em;
	}

}