$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color:rgb(247,247,247);
}

.header {

    h1 {
    background-color:rgb(51,51,51);
    color:white;
    padding: 1em 2em;
    font-family: Pacifico;
  }

}

.top-menu-bar {

  font-size:0;

  .menu-wrapper {
    width:100%;
  }

  ul {
    padding-left:0;
  }

  li {
    font-family:Open Sans Condensed;
    font-size: 32px;
    font-weight: 600;
    color:rgb(51,51,51);
    display:inline-block;
    border:1px solid rgb(230,230,230);
    width:25%;
    text-align: center;
    padding: 16px 0;
  }

  li:hover {
    background-color: rgb(204,204,204);
  }
}


.main-section {
  margin: 0 4em;
  text-align: center;

  h1 {
    font-family:Open Sans Condensed;
    font-weight:700;
  }

  h2 {
    ont-family:Open Sans Condensed;
    font-weight:400;
    font-style: italic;
    color: rgb(83,83,83);
  }

  .bar {
    margin: 0 auto;
    width:5em;
    border-bottom: 6px solid rgb(51,51,51);
  }

  img {
    width:100%;
  }

  p {
    font-family: lato;
  }
}

.last-work {
  text-align: center;
  border-top: 0.5em solid rgb(230,230,230);

  h2 {
    margin-bottom:0.5em;
    font-weight: 600;

  }

  li {
    display:inline-block;
    list-style:none;
    color: rgb(135,135,135);
    font-size:1.4em;
    margin-right: 1em;
  }

  ul {
    padding-left:0;
  }

  .bar {
    margin: 0 auto;
    width:5em;
    border-bottom: 6px solid rgb(51,51,51);
    margin-bottom: 5em;
  }

  .light-bar {
    border-bottom:2px solid rgb(230,230,230);
    margin:0 auto;
    width:85%;
    margin-bottom:1.5em;
  }



}

.project-box {
  margin:0 2em;
  margin-bottom:2em;
  background-color:white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align:left;

  .text-box {
    margin: 0 0.5em;
  }

  img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width:100%;
  }

  h2 {
    font-size: 1em;
    margin-top:1em;

  }
}

.return-arrow-box {
  text-align: center;
}

.image-wrapper {
  background-color: rgb(204,204,204);
}

/* CSS for medium devices ≥768px */
@media (min-width: 768px) {


  .left-section {
    float:left;
    width:60%;
    height:100%;
    overflow-y: scroll;
  }

  .right-section {
    float:left;
    width:40%;
    overflow-y: scroll;
    height:100%
  }

  html, body {
    height:100%;
  }

}

